html, body
{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 1366px;
  height: 720px;
}

iframe.games
{
position: fixed;
  border: 0px;
  left: 0px;
  top: 0px;
  width: 960px;
  height: 580px;
  overflow: hidden;
  z-index: 3;
}

iframe.infos
{
position: fixed;
top: 0px;
right: 0px;
	width: 380px;
	height: 720px;
	overflow-y: scroll;
	overflow-x: hidden;
}
div, iframe.RSS
{
position: fixed;
bottom: 50px;
left: 50px;
}