    <head>
		<script src="../js/livereload.js"></script>
	</head>
	<!--
	<ul class="top">
      <li>Overview<b v-if="view.player.name!=null">{{view.player.name}}</b></li>
      <li v-if="view.player.level!=null">Lv.<b>{{view.player.level}}</b></li>
      <li v-if="!view.resource.set">No data found, please go to ??(Smithing) tab.</li>
      <li v-if="view.resource.charcoal!=null">Charcoal<b>{{Math.floor(view.resource.charcoal)}}</b></li>
      <li v-if="view.resource.steel!=null">Steel<b>{{Math.floor(view.resource.steel)}}</b></li>
      <li v-if="view.resource.coolant!=null">Coolant<b>{{Math.floor(view.resource.coolant)}}</b></li>
      <li v-if="view.resource.file!=null">Whetstone<b>{{Math.floor(view.resource.file)}}</b></li>
      <li v-if="view.resource.bill!=null">Request Token<b>{{Math.floor(view.resource.bill)}}</b></li>
      <li v-if="view.resource.bonemeal!=null">Help Token<b>{{Math.floor(view.resource.bonemeal)}}</b></li>
      <li v-if="view.resource.money!=null">Koban<b>{{Math.floor(view.resource.money)}}</b></li>
    </ul>
    <ul class="nav">
      <li v-class="active: tab == 2" v-on="click: tab = 2">Parties</li>
      <li v-class="active: tab == 3" v-on="click: tab = 3">Citadel</li>
      <li v-class="active: tab == 5" v-on="click: tab = 5">Logs</li>
      <li v-class="active: tab == -1" v-on="click: tab = -1">Settings</li>
      <li v-class="active: tab == -2" v-on="click: tab = -2">Credits</li>
    </ul>
	-->
    <div v-on="click: updatethis" class="container">
      <div v-if="!gaming" class="outgame"> </div>
      <!-- ????-->
      <div v-if="!view['party']['set']" v-show="tab==2">No data found, please go to ??(Formation) tab.</div>
      <!-- ????-->
      <div v-if="view['party']['set']" v-show="tab==2">
        <div v-if="view['party']['set']" class="party">
          <div v-repeat="view['party']['data']" class="party-item">
            <!-- ???????-->
            <div class="name">{{party_name}}<span v-show="in_battle(party_no)" class="status">[Sortie]</span><span v-show="status==2" class="status">[Expedition]</span><span v-show="status==2" class="status">[{{finished_at | conquest_time}}]</span></div>
            <!-- ???????-->
            <div class="amounts"><span class="alv">Average Lv.<b>{{avearge_lv}}</b></span><span class="lva">Total Lv.<b>{{amount_lv}}</b></span></div>
            <!-- ??-->
            <ul class="swords">
              <li v-repeat="slot" class="ss">
                <div v-if="serial_id==null" class="item"><img src="../../assets/sword/0.png" class="simg">
                  <div class="c">
                    <div class="sname">Empty</div>
                    <div class="slv">Lv.0 (next 0)</div>
                  </div>
                  <div class="c">
                    <div class="shp">HP 0 / 0</div>
                    <div class="sf"><span class="sfico"></span>0</div>
                  </div>
                  <div class="c2">
                    <div class="sequ"><span>[Empty]</span></div>
                  </div>
                </div>
                <div v-if="serial_id!=null" class="item"><img v-attr="src: '../../assets/sword/' + sword_id + '.png'" class="simg">
                  <div class="c">
                    <div class="sname">{{name}}<span v-show="status==1" class="ssta">[Repair]</span><span v-show="hp/hp_max&lt;=0.9 &amp;&amp; hp/hp_max&gt;0.65 &amp;&amp; status!=1" class="ssta y">[Light]</span><span v-show="hp/hp_max&lt;=0.65 &amp;&amp; hp/hp_max&gt;0.3 &amp;&amp; status!=1" class="ssta o">[Moderate]</span><span v-show="hp/hp_max&lt;=0.3&amp;&amp;status!=1" class="ssta r">[Severe]</span></div>
                    <div class="slv">Lv.{{level}}(next {{next_exp}})</div>
                  </div>
                  <div class="c">
                     <div class="shp">HP {{hp}} / {{hp_max}}</div>
                     <div class="sf"><span v-class="r: fatigue &lt; 6,y: fatigue &gt;= 6 &amp;&amp; fatigue &lt; 20,p: fatigue &gt;= 50" class="sfico"></span><span v-show="fatigue &gt;= 50">Sakura </span><span v-show="fatigue &lt; 50 &amp;&amp; fatigue &gt;= 20">Normal </span><span v-show="fatigue &lt; 20">Fatigue</span><span>{{fatigue}}</span><span v-show="fatigue &gt;= 50">(+20%)</span><span v-show="fatigue &gt;= 6 &amp;&amp; fatigue &lt; 20">(-20%)</span><span v-show="fatigue &lt; 6">(-40%)</span></div>
                  </div>
                  <div class="c2">
                    <div class="sequ"><span v-if="equip_serial_id1!=null" v-class="r: equip_1['level'] == 2, ur: equip_1['level'] == 0, b: equip_1['soldier_now'] == 0">[{{equip_1['sname']}} {{equip_1['soldier_now']}}/{{equip_1['soldier_max']}}]</span><span v-if="equip_serial_id1==null&amp;&amp;max_equip&gt;=1">[Empty]</span><span v-if="equip_serial_id2!=null" v-class="r: equip_2['level'] == 2, ur: equip_2['level'] == 0, b: equip_2['soldier_now'] == 0">[{{equip_2['sname']}} {{equip_2['soldier_now']}}/{{equip_2['soldier_max']}}]</span><span v-if="equip_serial_id2==null&amp;&amp;max_equip&gt;=2">[Empty]</span><span v-if="equip_serial_id3!=null" v-class="r: equip_3['level'] == 2, ur: equip_3['level'] == 0, b: equip_3['soldier_now'] == 0">[{{equip_3['sname']}} {{equip_3['soldier_now']}}/{{equip_3['soldier_max']}}]</span><span v-if="equip_serial_id3==null&amp;&amp;max_equip&gt;=3">[Empty]</span></div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="clear"></div>
            <div v-show="grouter('conquest')"> </div>
            <div v-show="grouter('sally')"> </div>
          </div>
        </div>
      </div>
  <div v-if="tab==3" class="forge-rep">
  <div class="panel fr">
    <div class="t">Armory</div>
    <div v-show="!view['equips']['set']" class="amounts">No data found, please go to ??(Formation) tab.</div>
    <ul v-if="view['equips']['set']" class="equ">
      <li v-repeat="view['equips']['data']">[{{$key | e2n}}] {{$value}}</li>
    </ul>
  </div>
  <div class="panel fr">
    <div class="t">Smithing<span style="cursor: pointer;" v-on="click: toggleForge" class="alv">[Click to view prediction]</span></div>
    <div class="amounts"><span class="alv">Workshop <b>{{data['forge']['open']}}</b></span><span class="lva">in use: <b>{{checkout('forge')}}</b></span></div>
    <ul class="equ">
      <li v-repeat="data['forge']['data']">[{{finished_at | tt2lt}}] {{sword_id | fs2n}}</li>
    </ul>
  </div>
  <div class="panel fr">
    <div class="t">Repair</div>
    <div class="amounts"><span class="alv">Workshop <b>{{data['repair']['open']}}</b></span><span class="lva">in use: <b>{{checkout('repair')}}</b></span></div>
    <ul class="equ">
      <li v-repeat="data['repair']['data']">[{{finished_at | tt2lt}}] {{sword_serial_id | sid2n}}</li>
    </ul>
  </div>
</div>
<div v-if="tab==5" class="logs">
  <div class="panel">
    <div style="cursor: pointer;" v-on="click: saveLogs()" class="t">Click to download data as Excel file</div>
  </div>
  <div class="panel">
    <div class="t">Smith statistics</div>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Result</th>
          <th>Smithing duration</th>
          <th>Charcoal</th>
          <th>Steel</th>
          <th>Coolant</th>
          <th>Whetstone</th>
        </tr>
      </thead>
      <tbody>
        <tr v-repeat="data['logs']['forge']">
          <!-- "1-1426389451000":{"slot_no":"1","finish_at":1426389451000,"sword_id":"45","resource":false,"charcoal":"50","coolant":"50","file":"50","steel":"50"}-->
          <td>{{finish_at | ls2t}}</td>
          <td>{{sword_id | ls2n}}</td>
          <td>{{resource?times:'-'}} min</td>
          <td>{{resource?charcoal:'-'}}</td>
          <td>{{resource?steel:'-'}}</td>
          <td>{{resource?coolant:'-'}}</td>
          <td>{{resource?file:'-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel">
    <div class="t">Drop statistics</div><span> </span>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Team</th>
          <th>Rank</th>
          <th>Drop</th>
          <th>Map</th>
          <th>Node</th>
        </tr>
      </thead>
      <tbody>
        <tr v-repeat="data['logs']['battle']">
          <td>{{time | ls2t}}</td>
          <td>{{party_no}}</td>
          <td>{{rank | r2r}}</td>
          <td>{{get_sword_id | ls2n}}</td>
          <td>{{battle_episode}}-{{battle_field}}</td>
          <td>{{battle_pos}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Thi?t l?p-->
<div v-show="tab==-1">
  <div class="panel-config">
    <div class="t">Data</div>
    <ul class="sl">
      <li>
        <div class="act">Turn on fatigue calculation:<span v-class="on: config.cad == 0" v-on="click: applyConfig('cad', 0)">OFF</span><span v-class="on: config.cad == 1" v-on="click: applyConfig('cad', 1)">ON</span></div>
        <div class="desc">Data isn't 100% accurate.</div>
      </li>
      <li>
        <div class="act">Don't turn this on<span v-class="on: config.cadOffList == 0" v-on="click: applyConfig('cadOffList', 0)">OFF</span><span v-class="on: config.cadOffList == 1" v-on="click: applyConfig('cadOffList', 1)">ON</span></div>
        <div class="desc">This feature isn't complete yet, don't use it.</div>
      </li>
      <li>
        <div class="act">Game data saving:<span v-class="on: config.dataCache == 0" v-on="click: applyConfig('dataCache', 0)">OFF</span><span v-class="on: config.dataCache == 1" v-on="click: applyConfig('dataCache', 1)">ON</span></div>
        <div class="desc">
          It is recommended to turn this on. 
        </div>
        <div v-show="dataExist" v-on="click: applyConfig('dataCache', -1)" style="cursor: pointer;" class="desc"><** Clear data **></div>
      </li>
    </ul>
  </div>
  <div class="panel-config">
    <div class="t">Notifications</div>
    <ul class="sl">
      <li>
        <div class="act">Expeditions<span v-class="on: config.notify_conquest == 0" v-on="click: applyConfig('notify_conquest', 0)">OFF</span><span v-class="on: config.notify_conquest == 1" v-on="click: applyConfig('notify_conquest', 1)">5min</span><span v-class="on: config.notify_conquest == 2" v-on="click: applyConfig('notify_conquest', 2)">2min</span><span v-class="on: config.notify_conquest == 3" v-on="click: applyConfig('notify_conquest', 3)">30sec</span><span v-class="on: config.notify_conquest == 4" v-on="click: applyConfig('notify_conquest', 4)">When finished</span></div>
        <div class="desc">Notifies when your expedition is completed</div>
      </li>
      <li>
        <div class="act">Repair<span v-class="on: config.notify_repair == 0" v-on="click: applyConfig('notify_repair', 0)">OFF</span><span v-class="on: config.notify_repair == 1" v-on="click: applyConfig('notify_repair', 1)">5min</span><span v-class="on: config.notify_repair == 2" v-on="click: applyConfig('notify_repair', 2)">2min</span><span v-class="on: config.notify_repair == 3" v-on="click: applyConfig('notify_repair', 3)">30sec</span><span v-class="on: config.notify_repair == 4" v-on="click: applyConfig('notify_repair', 4)">When finished</span></div>
        <div class="desc">
         Notifies when you've finished repairing. If you used a [Help Token], the notification would still be there.        </div>
      </li>
      <li>
        <div class="act">Damage<span v-class="on: config.notify_broken == 0" v-on="click: applyConfig('notify_broken', 0)">OFF</span><span v-class="on: config.notify_broken == 1" v-on="click: applyConfig('notify_broken', 1)">Severe damage</span><span v-class="on: config.notify_broken == 2" v-on="click: applyConfig('notify_broken', 2)">Moderate damage</span><span v-class="on: config.notify_broken == 3" v-on="click: applyConfig('notify_broken', 3)">Minor damage</span><span v-class="on: config.notify_broken == 4" v-on="click: applyConfig('notify_broken', 4)">Blood loss</span><span v-class="on: config.notify_broken == 5" v-on="click: applyConfig('notify_broken', 5)">Troop loss</span></div>
        <div class="desc">Notifies when your sword are injured</div>
        <div class="desc">Higher level injury will be included, ex: if you choose "Troop loss" then you get "Blood loss" or "Minor injury" in a fight, a notification will still be given.</div>
      </li>
      <li>
        <div class="act">Sword drop<span v-class="on: config.notify_getnew == 0" v-on="click: applyConfig('notify_getnew', 0)">OFF</span><span v-class="on: config.notify_getnew == 1" v-on="click: applyConfig('notify_getnew', 1)">Rare swords</span><span v-class="on: config.notify_getnew == 2" v-on="click: applyConfig('notify_getnew', 2)">S Rare swords</span><span v-class="on: config.notify_getnew == 3" v-on="click: applyConfig('notify_getnew', 3)">All</span></div>
        <div class="desc">Notifies when you get a drop.</div>
        <div class="desc">*Rare swords: Yari, Naginata, special Tachi, Oodachi, & super rare swords.</div>
        <div class="desc">*Super rare swords: Mikazuki and Kogitsunemaru.</div>
      </li>
    </ul>
  </div>
</div>
      <!-- ??-->
      <div v-show="tab==-2">
        <div class="panel-about">
          <div class="t">??? · Tohken Ranbu Helper</div>
          <ul class="sl">
            <li>
              <div class="desc">????: V0.2.0 (Beta)</div>
              <div class="desc">????: Tue Apr 14 2015 21:49:52 GMT+0800 (China Standard Time)</div>
              <div class="desc">????:<a href="https://github.com/hitomi/tohken">https://github.com/hitomi/tohken</a></div>
            </li>
          </ul>
        </div>
        <div class="panel-about">
          <div class="t">STAFF</div>
          <ul class="sl">
            <li>
              <div class="act">???</div>
              <div class="desc">???!?????!</div>
              <div class="desc"><a href="http://weibo.com/moelynn" target="_blank">@???????</a></div>
            </li>
            <li>
              <div class="act">???</div>
              <div class="desc">?????????????????????OwO,????!????!!??????????????????!</div>
              <div class="desc"><a href="http://weibo.com/NKSan" target="_blank">@1tuka</a></div>
              <div class="desc"><a href="http://weibo.com/u/2206048461" target="_blank">@?????</a></div>
              <div class="desc"><a href="http://weibo.com/sr34v5" target="_blank">@Rabbit_????w</a></div>
              <div class="desc"><a href="http://weibo.com/moyuchaoren" target="_blank">@??-??????</a></div>
              <div class="desc"><a href="http://weibo.com/koei327" target="_blank">@??_PETY??????????</a></div>
            </li>
            <li>
              <div class="act">??</div>
              <div class="desc">?????</div>
              <div class="desc"><a href="http://wikiwiki.jp/toulove" target="_blank">Toulove</a></div>
              <div class="desc">?????????????(????)</div>
              <div class="desc"><a href="http://weibo.com/huihuiowo" target="_blank">@??????</a></div>
              <div class="desc">??????,??????????????????Live2D?????!</div>
              <div class="desc"><a href="http://weibo.com/546246695" target="_blank">@???-??????5</a></div>
            </li>
          </ul>
        </div>
        <div class="panel-about">
          <div class="t">????BUG</div>
          <ul class="sl">
            <li>
              <div class="act">????????????????</div>
              <div class="act">????????</div>
              <div class="act">????????????</div>
            </li>
          </ul>
        </div>
        <div class="panel-about">
          <div class="t">????</div>
          <ul class="sl">
            <li>
              <div class="act">v0.2.0 150315</div>
              <div class="desc">* ??????</div>
              <div class="desc">+ ????</div>
              <div class="desc">+ ????</div>
              <div class="desc">+ ????</div>
              <div class="desc">+ ???????</div>
            </li>
            <li>
              <div class="act">v0.1.3 150304</div>
              <div class="desc">* ?????????????(????<a href="http://weibo.com/moyuchaoren" target="_blank">@??-??????</a>?????????,??<a href="http://weibo.com/koei327" target="_blank">@??_PETY??????????</a>??????)</div>
              <div class="desc">????????????????,???????????????????(??<a href="http://weibo.com/NKSan" target="_blank">@1tuka</a>)</div>
            </li>
            <li>
              <div class="act">v0.1.2 150304</div>
              <div class="desc">??????????(??<a href="http://weibo.com/moyuchaoren" target="_blank">@??-??????</a>)</div>
            </li>
            <li>
              <div class="act">v0.1.1 150304</div>
              <div class="desc">???99???????(????@catofsickle)</div>
              <div class="desc">??????,?????????????</div>
              <div class="desc">??????????????,???????????(??<a href="http://weibo.com/60046002" target="_blank">@????-???????</a>)</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="../../thirdparty/FileSaver.js"></script>
    <script src="../../thirdparty/lodash.js"></script>
    <script src="../../thirdparty/jquery.js"></script>
    <script src="../../thirdparty/vue.js"></script>
	<script src="../js/constants.js"></script>
	<script src="../js/define.js"></script>
	<script src="../js/lodash.js"></script>
	<script src="../js/FileSaver.js"></script>
	<script src="../js/define.js"></script>
	<script src="../js/data.js"></script>
	<script src="../js/config.js"></script>
	<script src="../js/store.js"></script>
	<script src="../js/event.js"></script>
	<script src="../js/parse.js"></script>
	<script src="../js/router.js"></script>
	<script src="../js/view.js"></script>
	<script src="../js/app.js"></script>